/* 페이지 초기화 CSS */

* { margin: 0; padding: 0; box-sizing: border-box;}

a { text-decoration: none;  }
ul, ol { list-style: none;}

/* 네이게이션 CSS */

.gnb {  
  width: 100%; height: 60px; background-color: rgb(255, 255, 255);
  padding-left: 255px; 
  padding-right: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
}

.gnb_center {
  display: flex;
  
}

.gnb_center_a { 
  color:rgb(0, 0, 0);
  margin-left: 44px;
  margin-right: 44px;
}

.gnb_right { 
  display: flex;
 
}

.gnb_right_a {
  color:rgba(255,255,255,1);
  margin-left: 20px;
  margin-right: 20px;
}

/* Hero CSS */

.hero { width: 100%; height: 960px; background-image: url(../img/hero_1.png); 

background-size: cover;
background-position: center center;
padding-left: 130px;
padding-right: 130px;
padding-top: 128px;
color:rgba(255,255,255,1);

}

.hero_subtitle { 

  font-family: 'Futura PT';
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  
}

.hero_title {

  font-family: 'Futura PT';
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  margin-top: 20px;

}

.hero_link_more { 
  width: 120px;
  height: 40px;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;

  background-color: rgba(255,255,255,1);
  color:rgba(0,0,0,1);

  border: none;
  border-radius: 6px;

  margin-top: 60px;

}

.hero_plus { display: flex; justify-content: space-between;
margin-top: 400px;}
.hero_sns { display: flex;}
.hero_sns_a { margin-right:55px; color:rgba(255,255,255,1);}

.hero_slide_index { display: flex; align-items: center;}

.hero_slide_index_bar { margin-left: 30px; margin-right: 30px; }

.hero_slide_index_bar { width: 120px; height: 4px; border-radius: 2px; 
background-color: rgba(255,255,255,1);}

.hero_slide_index_progress { width: 40px; height: 4px; border-radius: 2px; 
  background-color: rgba(255,0,0,1);}

.hero_slide_index_button { font-size: 30px; font-weight: 400;}
